Repository j00r6/SPYAIR-Fansite-Project, pull requests merged in 2024-01, with the labels that each got.

#12 [FE] 타입스크립트 프로젝트 생성
  .DS_Store
  bakend/build.gradle
  bakend/gradle/wrapper/gradle-wrapper.jar
  bakend/gradle/wrapper/gradle-wrapper.properties
  bakend/gradlew
  bakend/gradlew.bat
  bakend/settings.gradle
  bakend/src/main/java/pair/boardspring/BoardSpringApplication.java
  bakend/src/main/java/pair/boardspring/config/SecurityConfiguration.java
  bakend/src/main/java/pair/boardspring/member/dto/MemberDto.java
  bakend/src/main/java/pair/boardspring/member/entity/Member.java
  bakend/src/main/resources/application.properties
  bakend/src/test/java/pair/boardspring/BoardSpringApplicationTests.java
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: Frontend

#16 feat:Header컴포넌트 뷰 구현
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/Mainpage.tsx
  frontend/src/styles/GlobalStyles.tsx
Labels: Frontend

#1 [BE] Feat : Member #01 Spring Security Setting
  .DS_Store
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/pair/boardspring/BoardSpringApplication.java
  backend/src/main/java/pair/boardspring/config/SecurityConfiguration.java
  backend/src/main/java/pair/boardspring/member/dto/MemberDto.java
  backend/src/main/java/pair/boardspring/member/entity/Member.java
  backend/src/main/resources/application.properties
  backend/src/test/java/pair/boardspring/BoardSpringApplicationTests.java
  frontend/README.md
  src/main/java/pair/boardspring/member/dto/MemberDto.java
Labels: Backend

#23 [BE] Feat : JWT 생성, Authorization Exception
  backend/src/main/java/pair/boardspring/exception/JwtAccessDeniedHandler.java
  backend/src/main/java/pair/boardspring/exception/JwtAuthenticationEntryPoint.java
  backend/src/main/java/pair/boardspring/jwt/controller/TokenController.java
  backend/src/main/java/pair/boardspring/jwt/dto/TokenDto.java
  backend/src/main/java/pair/boardspring/jwt/service/TokenService.java
  backend/src/main/java/pair/boardspring/jwt/token/JwtFilter.java
  backend/src/main/java/pair/boardspring/jwt/token/TokenProvider.java
  backend/src/main/java/pair/boardspring/member/entity/Member.java
  backend/src/main/java/pair/boardspring/security/config/SecurityConfiguration.java
  backend/src/main/java/pair/boardspring/security/userdetails/CustomUserDetails.java
Labels: Backend, complete

#28 [FE] 프로필 페이지 뷰 구현 #8
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/pages/Mainpage.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/styles/GlobalStyles.tsx
Labels: Frontend

#30 feat:메뉴 컴포넌트 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/icon_facebook.png
  frontend/public/assets/icon_instagram.png
  frontend/public/assets/icon_line.png
  frontend/public/assets/icon_tiktok.png
  frontend/public/assets/icon_twitter.png
  frontend/public/assets/icon_youtube.png
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/Menu.tsx
  frontend/src/components/Sns.tsx
Labels: Frontend

#33 Fix : CastClassException 오류 수정
  backend/src/main/java/pair/boardspring/BoardSpringApplication.java
  backend/src/main/java/pair/boardspring/exception/BadRequestException.java
  backend/src/main/java/pair/boardspring/exception/BusinessLogicException.java
  backend/src/main/java/pair/boardspring/exception/ExceptionCode.java
  backend/src/main/java/pair/boardspring/exception/GlobalExceptionHandler.java
  backend/src/main/java/pair/boardspring/exception/LoginIdDuplicateException.java
  backend/src/main/java/pair/boardspring/exception/Message.java
  backend/src/main/java/pair/boardspring/jwt/service/TokenService.java
  backend/src/main/java/pair/boardspring/jwt/token/JwtFilter.java
  backend/src/main/java/pair/boardspring/jwt/token/TokenProvider.java
  backend/src/main/java/pair/boardspring/member/controller/MemberController.java
  backend/src/main/java/pair/boardspring/member/dto/SignInRequest.java
  backend/src/main/java/pair/boardspring/member/entity/Member.java
  backend/src/main/java/pair/boardspring/member/repository/MemberRepository.java
  backend/src/main/java/pair/boardspring/member/service/MemberService.java
  backend/src/main/java/pair/boardspring/resolver/LoginMemberId.java
  backend/src/main/java/pair/boardspring/resolver/LoginUserIdArgumentResolver.java
  backend/src/main/java/pair/boardspring/security/config/SecurityConfiguration.java
  backend/src/main/java/pair/boardspring/security/userdetails/CustomUserDetails.java
  backend/src/main/java/pair/boardspring/security/userdetails/CustomUserDetailsService.java
Labels: Backend

#36 Feat/sign up
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SignUp/SignUp.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
Labels: Frontend

#40 Feat/free board 뷰 임시 구현
  frontend/src/App.tsx
  frontend/src/components/Account/SignUp.tsx
  frontend/src/components/FreeBoard/BoardDetail.tsx
  frontend/src/components/FreeBoard/BoardEdit.tsx
  frontend/src/components/FreeBoard/BoardList.tsx
  frontend/src/components/FreeBoard/NavigationButtons.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/pages/FreeBoardDetailPage.tsx
  frontend/src/pages/FreeBoardEditPage.tsx
  frontend/src/pages/FreeBoardListPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/tsconfig.json
Labels: Frontend

#47 Feature/member#03 jwt setting
  backend/build.gradle
  backend/src/main/java/pair/boardspring/exception/GlobalExceptionHandler.java
  backend/src/main/java/pair/boardspring/exception/IllegalToken.java
  backend/src/main/java/pair/boardspring/exception/TokenExpiredException.java
  backend/src/main/java/pair/boardspring/jwt/controller/TokenController.java
  backend/src/main/java/pair/boardspring/jwt/dto/RefreshDto.java
  backend/src/main/java/pair/boardspring/jwt/dto/TokenDto.java
  backend/src/main/java/pair/boardspring/jwt/entity/Token.java
  backend/src/main/java/pair/boardspring/jwt/repository/TokenRepository.java
  backend/src/main/java/pair/boardspring/jwt/service/TokenService.java
  backend/src/main/java/pair/boardspring/jwt/token/JwtFilter.java
  backend/src/main/java/pair/boardspring/jwt/token/TokenProvider.java
  backend/src/main/java/pair/boardspring/member/controller/MemberController.java
  backend/src/main/java/pair/boardspring/member/entity/Member.java
  backend/src/main/java/pair/boardspring/resolver/LoginUserIdArgumentResolver.java
  backend/src/main/java/pair/boardspring/security/config/SecurityConfiguration.java
  backend/src/main/java/pair/boardspring/security/config/WebConfig.java
  backend/src/main/java/pair/boardspring/security/userdetails/CustomUserDetailsService.java
  backend/src/main/resources/application.yml
Labels: Backend

#48 Feat/footer
  frontend/src/App.tsx
  frontend/src/components/Account/Login.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header/Menu.tsx
  frontend/src/components/Sns.tsx
  frontend/src/pages/Mainpage.tsx
Labels: Frontend

#51 Feat/logout
  frontend/src/components/FreeBoard/BoardList.tsx
  frontend/src/components/Header/Menu.tsx
  frontend/src/pages/FreeBoardListPage.tsx
Labels: Frontend

#52 Feature/board crud#02
  backend/build.gradle
  backend/src/main/java/pair/boardspring/freeboard/controller/BoardController.java
  backend/src/main/java/pair/boardspring/freeboard/dto/BoardDto.java
  backend/src/main/java/pair/boardspring/freeboard/entity/BoardEntity.java
  backend/src/main/java/pair/boardspring/freeboard/mapper/BoardMapper.java
  backend/src/main/java/pair/boardspring/freeboard/repository/BoardRepository.java
  backend/src/main/java/pair/boardspring/freeboard/service/BoardService.java
  backend/src/main/java/pair/boardspring/jwt/token/TokenProvider.java
  backend/src/main/java/pair/boardspring/member/entity/Member.java
  backend/src/main/java/pair/boardspring/member/service/MemberService.java
  backend/src/main/java/pair/boardspring/security/config/SecurityConfiguration.java
Labels: Backend, complete

#55 멤버 및 자유게시판 20240125 최산화
  backend/src/main/java/pair/boardspring/freeboard/controller/BoardController.java
  backend/src/main/java/pair/boardspring/jwt/token/TokenProvider.java
Labels: Backend

#56 Feat/free board act
  frontend/src/components/Account/SignUp.tsx
  frontend/src/components/FreeBoard/BoardDetail.tsx
  frontend/src/components/FreeBoard/BoardEdit.tsx
  frontend/src/components/FreeBoard/BoardList.tsx
  frontend/src/components/FreeBoard/NavigationButtons.tsx
  frontend/src/pages/Mainpage.tsx
Labels: Frontend, complete
