Repository j00r6/SPYAIR-Fansite-Project, pull requests merged in 2024-02, with the labels that each got.

#67 feat:배너 컴포넌트 뷰구현, 슬라이드
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/Menu.tsx
  frontend/src/components/Main/Banner.tsx
  frontend/src/components/Main/YoutubeClip.tsx
  frontend/src/pages/Mainpage.tsx
Labels: Frontend

#68 feat:공지사항 전체글 리스트 뷰 구현
  frontend/src/App.tsx
  frontend/src/components/Main/YoutubeClip.tsx
  frontend/src/components/Notice/NoticeList.tsx
  frontend/src/pages/NoticeListPage.tsx
Labels: Frontend, complete

#72 Feat/notice role permission
  frontend/src/components/FreeBoard/BoardDetail.tsx
  frontend/src/components/FreeBoard/BoardEdit.tsx
  frontend/src/components/FreeBoard/BoardList.tsx
  frontend/src/components/NavigationButtons.tsx
  frontend/src/components/Notice/NoticeDetail.tsx
  frontend/src/components/Notice/NoticeEdit.tsx
  frontend/src/components/Notice/NoticeList.tsx
Labels: Frontend, complete

#75 공지사항 및 자유게시판 페이징처리 추가
  backend/src/main/java/pair/boardspring/freeboard/controller/BoardController.java
  backend/src/main/java/pair/boardspring/freeboard/mapper/BoardMapper.java
  backend/src/main/java/pair/boardspring/freeboard/service/BoardService.java
  backend/src/main/java/pair/boardspring/notice/controller/NoticeController.java
  backend/src/main/java/pair/boardspring/notice/mapper/NoticeMapper.java
  backend/src/main/java/pair/boardspring/notice/service/NoticeService.java
  backend/src/main/java/pair/boardspring/security/config/SecurityConfiguration.java
Labels: Backend, complete

#81 Feat/infinite scroll
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/FreeBoard/BoardList.tsx
  frontend/src/pages/FreeBoardListPage.tsx
Labels: Frontend, complete

#86 Fix/add isuue
  frontend/src/components/Account/SignUp.tsx
  frontend/src/components/Account/SignUpCongrats.tsx
  frontend/src/components/Main/RecentNotice.tsx
  frontend/src/components/Notice/NoticeDetail.tsx
  frontend/src/components/Notice/NoticeList.tsx
Labels: Frontend, complete
